.button {
  padding: 8px 16px;

  border: 0;
  border-radius: 2px;

  background: $primary-color;
  color: white;
  font-size: 24px;

  &__float {
    position: fixed;
    width: 40px;
    height: 40px;
    left: 20px;
    top: 15px;

    border: none;
    border-radius: 50%;
    background-color: white;
    color: $primary-color;
    cursor: pointer;
  }

  &__iconButton {
    padding: 8px;

    border: 0;
    border-radius: 50%;
    background: none;
    color: $primary-color;
    cursor: pointer;

    will-change: background-color;
    transition: background-color 200ms ease-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.11);
    }
  }

  &__icon {
    font-size: 24px;
    font-style: normal;
    font-family: 'Material Icons';
  }
}
