.button {
  padding: 6px 26px;

  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  border: 0;
  border-radius: 3px;
  background-color: $featured-color;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: #3180b8;
    transition: background-color 0.2s linear;
  }

  &__float {
    position: fixed;
    width: 40px;
    height: 40px;
    left: 20px;
    top: 15px;

    border: none;
    border-radius: 50%;
    background-color: $primary-color;
    color: $primary-color;
    cursor: pointer;
  }

  &__iconButton {
    padding: 8px;

    border: 0;
    border-radius: 50%;
    background: none;
    font-size: 16px;
    color: white;
    cursor: pointer;

    transition: color 200ms ease-out;

    &:hover {
      color: $featured-color-active;
    }
  }

  &__disabled {
    color: rgb(175, 174, 174);
    pointer-events: none;
  }
}
