.button {
  padding: 8px 16px;

  border: 0;
  border-radius: 2px;

  background: $primary-color;
  color: white;
  font-size: 24px;

  &__float {
    width: 40px;
    height: 40px;
    position: fixed;
    left: 20px;
    top: 15px;

    border: none;
    border-radius: 50%;
    background-color: white;
    color: $primary-color;
  }

  &__iconButton {
    border: 0;
    background: none;
    color: $primary-color;
  }

  &__icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
}
