$primary-color: #191919;
$secondary-color: #FDFCFD;
$third-color: rgb(110, 105, 105);
$fourth-color: #222222;
$text-color: rgb(219, 219, 219);
$featured-color: #5a8baf;
$featured-color-active: #5cbbff;

$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
$gray-border: 1px solid rgba(0, 0, 0, 0.12);
$background: rgb(48, 48, 48);