.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);

  &__title {
    margin-top: -60px;
    font-size: 100px;
    font-weight: bold;
  }
}
