.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);

  &__title {
    width: 50%;
    margin-top: -60px;
    font-size: 30px;
    font-weight: bold;
  }
}
