.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 15px 20px;

  background-color: $primary-color;
  box-shadow: $box-shadow;
  color: white;

  &__button {
    font-size: 16px;
  }

  &__list {
    display: flex;
    list-style-type: none;
    
    &__item {
      padding: 8px 16px;
      margin: 0 10px;
      border-radius: 2px;
    
      background: $third-color;
    }
  }
}
