.question-form {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 432px;
  height: calc(100vh - 69px);
  padding: 16px;

  background-color: $fourth-color;
  box-shadow: $box-shadow;
  opacity: 1;

  transition: transform 0.5s ease-out, opacity 0.4s linear 0.1s;

  &__textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    margin-bottom: 16px;

    font-size: 1em;
  }

  &__button {
    margin-top: 16px;
  }

  &__hidden {
    opacity: 0;
    transform: translateX(-450px);
    transition: transform 0.5s ease-in, opacity 0.4s linear 0.1s;
  }
}
