@import './reset';
@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary-color: #182825;
$secondary-color: #FDFCFD;
$third-color: #7F7979;
$fourth-color: #C1BDB3;
$text-color: #5F5B6B;

@import './views/App/app';
@import './views/Homepage/homepage';
@import './views/Test/test';
@import './views/Training/training';

@import './components/Button/button';
@import './components/Navigation/navigation';
@import './components/Rules/rules';
@import './components/Timer/timer';
@import './components/QuestionBox/questionBox';
