.score-counter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  
  font-size: 30px;
  padding: 16px;
  box-shadow: $box-shadow;
  background-color: white;
  
  &__ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;

    &__li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      width: 45px;

      border-radius: 50%;
      background-color: $third-color;
      color: white;
      list-style: none;
      z-index: 2;

      &--active {
        background-color: rgb(87, 119, 207);
        transform: scale(1.25)
      }

      &--correct {
        background-color: rgb(89, 190, 5);
      }
      
      &--wrong {
        background-color:#FF5E5B;
      }
    }
  }
  
  &__hidden {
    display: none;
  }
}
