.rules {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 16px;
  padding: 16px;

  box-shadow: $box-shadow;

  &__text{
    font-size: 25px;
  }
  
  &__start {
    margin-top: 16px;
    max-width: 200px;
  }

  &__button {

  }

  &__hidden {
    display: none;
  }
}
