.rules {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto 16px;
  padding: 66px 46px 26px;

  box-shadow: $box-shadow;
  background-color: $primary-color;
  text-align: center;

  opacity: 1;
  will-change: opacity;
  transition: opacity 500ms ease-out;

  &__text{
    font-size: 1.5em;
  }
  
  &__start {
    margin-top: 36px;
    max-width: 200px;
  }

  &__hidden {
    display: none;
  }

  &__selects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
  }

  &__select {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    font-size: 1.5em;
    
    &__list {
      padding: 10px;
      margin: 10px 0;
      width: 200px;
      font-size: 0.8em;
      border-radius: 8px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
